.CircularProgressbar {
  width: 14%;
}

.circle-progress {
  text-align: end;
}

.CircularProgressbar-text {
  font-weight: 600;
}
.CircularProgressbar .CircularProgressbar-text {
  font-size: 26px !important;
}
