@import '../../utils/constants.scss';
.form-group{
    .form-control{
        height: 70px;
        line-height: 56px;
        font-style: italic;
        font-weight: $light;
        color: #BABCC4;
        cursor: pointer;
    }
    i{
        position: absolute;
        right: 40px;
        top: 26px;
        cursor: pointer;
    }
}