@import "../../utils//constants.scss";
.table-setting{
    padding: 6px;
    .table{
        background-color: $white-color;
        border-radius: 20px;
        @include boxshadow(0px 3px 6px rgba(0,0,0,.16));
        th{
            border-top: 0;
            color: #ADADAD;
            border-bottom: 1px solid $border-color;
            text-transform: uppercase;
            font-family: $lato;
            font-weight: $light;
            text-align: center;
            padding: 24px;
        }
        tr{
            td{
                border-top: 0;
                text-align: center;
                &:nth-child(2){
                    border-right: 1px solid $border-color;
                    font-weight: $light;
                }
                .form-control{
                    background-color: $white-color;
                    border: 0;
                    border-radius: 0;
                    color: $black-color;
                    height: 42px;
                    @include boxshadow(0px 1px 6px rgba(0,0,0,.16));
                    margin: 0 auto;
                    padding: 4px 16px;
                    width: 108px;
                }
            }
        }
    }
}